<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RemoteDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CN" value="Data Source=.\sqlexpress;Initial Catalog=RemoteDesktop;Integrated Security=True"/>

  </appSettings>
  <applicationSettings>
    <RemoteDesktop.Properties.Settings>
      <setting name="RemoteDesktop_RemoteWeb_Service1" serializeAs="String">
        <value>http://192.168.0.156:37829/RemoteService.asmx</value>
      </setting>
    </RemoteDesktop.Properties.Settings>
  </applicationSettings>
</configuration>